<app-navbar></app-navbar>

<div class="banner-area">
    <div class="common-container">
        <div class="row">
            <div class="col-12">
                <h4>Kontakta oss.</h4>
            </div>
        </div>
    </div>
</div>
<div class="contact-form-area text-white">
    <div class="common-container">
        <div class="row">
            <div class="col-lg-4">
                <h3>Information</h3>
                <p>Vi förvandlar dina digitala drömmar till verklighet. Genom att sätta användaren i fokus, skapar vi digitala lösningar som inte bara möter behov utan överträffar förväntningar.</p>
                <p>Telefon : 070 423 52 15</p>
                <p>E-post : kontaktacccella.se</p>
                <p>Måndag - Fredag : 08:00 - 19:00 <br>
                    Lördag - Söndag : 12:00 - 16:00</p>
            </div>
            <div class="col-lg-8">
                <div class="form-area ms-lg-5">
                    <h3>Fyll i vårt formulär</h3>
                    <p>Vi förvandlar dina digitala drömmar till verklighet. Genom att sätta användaren i fokus, skapar vi digitala lösningar som inte bara möter behov utan överträffar förväntningar.</p>
                    <div class="form">
                        <form>
                            <input type="text" name="" id="" placeholder="Fullständigt namn">
                            <input type="text" name="" id="" placeholder="Företag">
                            <input type="email" name="" id="" placeholder="E-post">
                            <input type="tel" name="" id="" placeholder="Telefon">
                            <input type="text" name="" id="" placeholder="Ämne">
                            <textarea name="" id="" placeholder="Meddelande"></textarea>
                            <button type="submit">Skicka 
                                 <span class="material-symbols-outlined">
                                    outbound
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
