<app-navbar></app-navbar>
<div class="banner-area">
    <div class="common-container">
        <div class="row">
            <div class="col-12">
                <h4>Mobilt.</h4>
            </div>
        </div>
    </div>
</div>
<div class="skapa-area">
    <div class="common-container">
        <div class="row">
            <div class="col-lg-8">
                <h3>Skapa framtidssäkra mobillösningar med marknadsledande teknik</h3>
                <p>Med vår expertis inom mobilutveckling erbjuder vi lösningar som är både säkra och skalbara. Vi skapar mobila applikationer som integreras sömlöst med din befintliga infrastruktur, samtidigt som vi levererar en användarupplevelse i världsklass.</p>
            </div>
        </div>
        <div class="row mt-90">
            <div class="col-xl-6 col-lg-12 pe-xl-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-skapa first-child text-white">
                            <h4>Trygg övergång till det nya systemet</h4>
                            <p>Vi säkerställer en smidig övergång till moderna mobilapplikationer, oavsett om du migrerar från ett befintligt system eller implementerar en helt ny lösning. Vår stegvisa process ser till att dina användare snabbt kommer igång med minimala störningar.</p>
                            <div class="icon-area">
                                <img src="../../../../assets/images/Folder.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 pe-md-4">
                        <div class="single-skapa small-child text-white">
                            <h4>Alltid uppdaterad och modern</h4>
                            <p>Vår teknik bygger på de senaste ramverken och standarderna, vilket säkerställer att din app alltid är up-to-date med branschens utveckling och fortsätter leverera hög prestanda och säkerhet.</p>
                            <div class="icon-area">
                                <img src="../../../../assets/images/Setting.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 ps-md-4">
                        <div class="single-skapa small-child olive-color text-white">
                            <h4>Trygg molnlagring i Sverige</h4>
                            <p>Din data lagras säkert i Sverige, vilket ger dig fördelen att följa strikta svenska dataskyddslagar. Vår infrastruktur säkerställer maximal tillgänglighet och datasäkerhet.</p>
                            <div class="icon-area">
                                <img src="../../../../assets/images/Lock.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="single-skapa text-white">
                            <h4>Designad för optimal användarupplevelse (UX)
                            </h4>
                            <p>Vi utgår från slutanvändarens behov i varje steg av utvecklingsprocessen. Med intuitiv design och lättanvända gränssnitt säkerställer vi att din app blir enkel att använda och ger en överlägsen användarupplevelse samtidigt som den är estetiskt tilltalande.</p>
                            <div class="icon-area">
                                <img src="../../../../assets/images/Activity.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 ps-xl-5">
                <div class="single-skapa text-white">
                    <h4>Skapad för enkel integration med befintliga system
                    </h4>
                    <p>Vår mobilutveckling gör det enkelt att integrera externa tjänster som BankID och Swish. Vi säkerställer att din applikation sömlöst ansluter till alla dina befintliga system och tredjepartslösningar.</p>
                    <div class="icon-area">
                        <img src="../../../../assets/images/Paper-Plus.png" alt="">
                    </div>
                </div>
                <div class="single-skapa olive-color text-white">
                    <h4>Omfattande support, underhåll och uppdateringar.
                    </h4>
                    <p>Vi erbjuder kontinuerlig support, underhåll och uppdateringar för att säkerställa att din mobilapplikation alltid presterar på topp. Vårt team övervakar appen och ser till att den regelbundet uppdateras för stabilitet, säkerhet och optimal prestanda.</p>
                    <div class="icon-area">
                        <img src="../../../../assets/images/Shield.png" alt="">
                    </div>
                </div>
                <div class="single-skapa text-white" style="background-image: url(../../../../assets/images/more-back.png);">
                    <h3>Känner du dig redo
                        för att ta nästa steget?</h3>
                    <div class="mt-5 text-end">
                        <a class="more" href="#">Kontakta oss</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="analys-area text-white">
    <div class="common-container">
        <div class="row">
            <div class="col-lg-10">
                <h3>Från analys till leverans: Så säkerställer vi framgång i varje steg
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                <div class="single-analys-area">
                    <div class="row">
                        <div class="col-md-4">
                            1
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="clearfix">
                                <h4>Analys och behovsidentifiering</h4>
                                <p>Vi börjar med en noggrann genomgång av dina behov och affärsmål för att skapa en lösning som är skräddarsydd för din verksamhet. Vi identifierar de kritiska funktionerna och sätter en tydlig plan för utvecklingen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="single-analys-area">
                    <div class="row">
                        <div class="col-md-4">
                           2
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="clearfix">
                                <h4>Design och utveckling</h4>
                                <p>Med fokus på användarvänlighet och prestanda designar och utvecklar vi din webbapplikation. Vi säkerställer att den är optimerad för alla plattformar och erbjuder en överlägsen användarupplevelse, samtidigt som den är byggd med de senaste teknologierna.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mb-3">
                <img class="w-100" src="../../../../assets/images/sub-banner.png" alt="">
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="single-analys-area">
                    <div class="row">
                        <div class="col-md-4">
                           3
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="clearfix">
                                <h4>Testning och kvalitetssäkring</h4>
                                <p>Vi genomför rigorösa tester för att säkerställa att din webbapplikation är säker, snabb och pålitlig. Vårt team identifierar och åtgärdar potentiella problem innan lansering för att ge dig en stabil och problemfri lösning.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12">
                <div class="single-analys-area">
                    <div class="row">
                        <div class="col-md-4">
                           4
                        </div>
                        <div class="col-md-8 d-flex align-items-center">
                            <div class="clearfix">
                                <h4>Lansering och support</h4>
                                <p>När din applikation är redo för lansering säkerställer vi en smidig implementering och erbjuder löpande support för att säkerställa långsiktig framgång. Vi är alltid redo att hjälpa till med uppdateringar och underhåll när det behövs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vanliga-area">
    <div class="common-container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3>Vanliga frågor och svar</h3>
                <h4>Hur lång tid tar det att utveckla en mobilapp?</h4>
                <p>Tiden för utveckling varierar beroende på komplexiteten och vilka integrationer som krävs. Vi ger dig en tydlig tidsplan i samband med vårt första möte.</p>
                <h4>Kan ni integrera vår app med andra system vi använder?</h4>
                <p>Absolut! Vi har erfarenhet av att integrera mobila applikationer med både tredjepartssystem som BankID och interna system för sömlös funktionalitet.</p>
                <h4>Hur säkerställer ni att min app alltid är modern och uppdaterad?</h4>
                <p>Vi använder de senaste teknikerna och standarderna, och erbjuder även underhållsplaner som säkerställer att din app kontinuerligt uppdateras och optimeras.</p>
            </div>
        </div>
    </div>
</div>
<div class="any-qus-area">
    <div class="common-container text-white">
        <h3>Har du några funderingar? <br>
            Vi är här för att få dina frågor besvarade</h3>
        <div class="text-end">
            <a class="more" href="#">Kontakta oss</a>   
        </div> 
    </div>
</div>
<app-footer></app-footer> 
