<app-navbar></app-navbar>
<div class="banner-area">
    <div class="common-container">
        <div class="row">
            <div class="col-12">
                <h4>Kontakta oss.</h4>
            </div>
        </div>
    </div>
</div>
<div class="skapa-area">
    <div class="common-container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Skapa framtidssäkra mobillösningar med marknadsledande teknik</h3>
                <p>Med vår expertis inom mobilutveckling erbjuder vi lösningar som är både säkra och skalbara. Vi skapar mobila applikationer som integreras sömlöst med din befintliga infrastruktur, samtidigt som vi levererar en användarupplevelse i världsklass.</p>
            </div>
        </div>
    </div>
</div>
<div class="vanliga-area">
    <div class="common-container text-center">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h3>Vanliga frågor och svar</h3>
                <h4>Hur lång tid tar det att utveckla en mobilapp?</h4>
                <p>Tiden för utveckling varierar beroende på komplexiteten och vilka integrationer som krävs. Vi ger dig en tydlig tidsplan i samband med vårt första möte.</p>
                <h4>Kan ni integrera vår app med andra system vi använder?</h4>
                <p>Absolut! Vi har erfarenhet av att integrera mobila applikationer med både tredjepartssystem som BankID och interna system för sömlös funktionalitet.</p>
                <h4>Hur säkerställer ni att min app alltid är modern och uppdaterad?</h4>
                <p>Vi använder de senaste teknikerna och standarderna, och erbjuder även underhållsplaner som säkerställer att din app kontinuerligt uppdateras och optimeras.</p>
            </div>
        </div>
    </div>
</div>
<div class="any-qus-area">
    <div class="common-container text-white">
        <h3>Har du några funderingar? <br>
            Vi är här för att få dina frågor besvarade</h3>
        <div class="text-end">
            <a class="more" href="#">Kontakta oss</a>   
        </div> 
    </div>
</div>
<app-footer></app-footer> 
